//? COLOR
$color-primary: #55c57a;
$color-primary-light: #7ed56f;
$color-primary-darken: #28b485;
$color-secondary-light: #ffb900;
$color-secondary-dark: #ff7730;

$color-tertiary-light: #299bff;
$color-tertiary-dark: #5643fa;
$color-gray-dark: #777;
$color-gray-dark-2: #999;
$color-gray-dark-3: #333;
$color-white: #fff;
$color-black: #000;
$color-grey-light-1: #f7f7f7;
$color-grey-dark-2: #eee;

//? FONT
$default-font-size: 1.6rem;

//? CSS UNITS
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-vertical-small: 6rem;
$gutter-horizontal: 6rem;
