.navigation {
  // position: relative;
  &__checkbox {
    display: none;
  }

  &__button {
    background-color: $color-white;
    height: 7rem;
    width: 7rem;
    position: fixed;
    top: 6rem;
    right: 6rem;
    border-radius: 50%;
    z-index: 200;
    box-shadow: 0 2rem 3rem rgba($color-black, 0.1);
    cursor: pointer;

    @include responds(tabPort) {
      height: 6rem;
      width: 6rem;
      top: 3.5rem;
      right: 3.5rem;
    }
  }

  &__menu-toggle {
    // position: absolute;
    font-size: 4rem;
    position: fixed;
    top: 7.5rem;
    right: 7.5rem;
    cursor: pointer;

    @include responds(tabPort) {
      top: 4.5rem;
      right: 4.5rem;
    }
  }

  &__background {
    height: 6rem;
    width: 6rem;
    border-radius: 50%;
    position: fixed;
    top: 6.5rem;
    right: 6.5rem;
    background-image: radial-gradient(
      $color-primary-light,
      $color-primary-darken
    );
    z-index: 100;
    transition: transform 0.8s cubic-bezier(0.86, 0, 0.07, 1);

    @include responds(tabPort) {
      height: 4.5rem;
      width: 4.5rem;
      top: 4.5rem;
      right: 4.5rem;
    }

    //! FIXME LATER
    // transform: scale(50);
  }
  &__show-bg {
    transform: scale(50);
  }

  &__nav {
    height: 100vh;
    // width: 100%;
    width: 0;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 150;
    opacity: 0;
    transition: all 0.8s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }

  &__show-menu {
    opacity: 1;
    width: 100%;
  }

  &__list {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    list-style: none;
    text-align: center;
    width: 100%;
  }
  &__item {
    margin: 1rem;
  }
  &__link {
    &:link,
    &:visited {
      display: inline-block;
      font-size: 3rem;
      font-weight: 300;
      padding: 1rem 2rem;
      color: $color-white;
      text-decoration: none;
      text-transform: uppercase;
      background-image: linear-gradient(
        120deg,
        transparent 0%,
        transparent 50%,
        $color-white 50%
      );
      background-size: 225%;
      transition: all 0.4s;
      span {
        margin-right: 1rem;
      }
    }

    &:hover,
    &:active {
      background-position: 100%;
      color: $color-primary;
      transform: translateX(1rem);
    }
  }
}
